<div class="container">

	<div class="row">
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Clientes</span>
					<table ng-show="clientes.length">
						<thead>
							<tr>
								<th data-field="id">Código</th>
								<th data-field="name">Nome</th>
								<th data-field="operation">Operação</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="cliente in clientes">
								<td>{{cliente.codigo}}</td>
								<td>{{cliente.nome}}</td>
								<td><a href="#/lista_cliente" ng-click="removeCliente(cliente)"><i class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container -->